<div class="userIndex">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%= user.name %>
      </a>
      <img class='imgProfile' src="/uploads/<%=user.img%>" class="card-img-top" alt="Imagen de: <%=user.name%>">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Ver información de perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=api/carrito/<%=user._id%>/productos>Ver Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Desloguearse</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->

        <div class="card" style="width: 10rem;">
          <img src="/uploads/<%=user.img%>" class="card-img-top" alt="Imagen de: <%=user.name%>">
          <div class="card-body">
            <p class="card-text">edad: <%=user.phone%>
            </p>
            <p class="card-text">email: <%=user.email%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>